body {
  background: #ECF0F1; }
  body a:hover,
  body a:focus {
    text-decoration: none; }
  body .card .card-header .card-title {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1rem; }
  body .carousel .carousel-control {
    cursor: pointer; }
  body .carousel .carousel-inner .fa-chevron-left:before {
    position: absolute;
    top: 47%;
    left: 30px; }
  body .carousel .carousel-inner .fa-chevron-right:before {
    position: absolute;
    top: 47%;
    right: 30px; }

.animate {
  -webkit-animation: cssAnimation 0.456s 1 ease;
  -moz-animation: cssAnimation 0.456s 1 ease;
  -o-animation: cssAnimation 0.456s 1 ease; }
