body {
    background: #ECF0F1;
    a:hover,
    a:focus {
        text-decoration: none;
    }
    .card {
        .card-header {
            .card-title {
                margin-top: 5px;
                margin-bottom: 5px;
                font-size: 1rem;
            }
        }
    }
    .carousel {
        .carousel-control {
            cursor: pointer;
        }
        .carousel-inner {
            .fa-chevron-left:before {
                position: absolute;
                top: 47%;
                left: 30px;
            }
            .fa-chevron-right:before {
                position: absolute;
                top: 47%;
                right: 30px;
            }
        }
    }
}

.animate {
    -webkit-animation: cssAnimation 0.456s 1 ease;
    -moz-animation: cssAnimation 0.456s 1 ease;
    -o-animation: cssAnimation 0.456s 1 ease;
}