<div [style.color]="this.background" class="root">
    <div *ngIf="isMinimized">
        <ul style="overflow:auto; max-height:700px;" class="list-group">
            <li class="list-group-item">
                Total {{todos.length}}
            </li>
        </ul>
    </div>
    <div *ngIf="isRestored||isExpanded" class="col-12">
        <ul style="overflow:auto; max-height:700px;" class="list-group row">
            <li *ngFor="let todo of todos; let x = index" href="#" class="list-group-item d-block">
                <h6 class="list-group-item-heading float-left">
                    <i class="fa fa-lg fa-check" aria-hidden="true" *ngIf="todo.isCompleted" (click)="toggleTodo(todo)"></i>
                    <i class="fa fa-lg fa-square-o" aria-hidden="true" *ngIf="!todo.isCompleted" (click)="toggleTodo(todo)"></i>
                    {{ todo.description }}
                </h6>
                <span class="float-right">
                    <a class="float-right" (click)="deleteTodo(todo)">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </a>
                </span>
            </li>
        </ul>
        <form [formGroup]="form" (ngSubmit)="addNewTodo(form)" class="row">
            <div class="input-group">
                <input type="text" class="form-control" formControlName="newTodo" placeholder="New Todo">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" [style.color]="this.background">
                        Add
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>