<div *ngIf="isMinimized">
 <ul style="overflow:auto; max-height:300px;" class="list-group">
        <li  class="list-group-item"> 
    Total {{tasks.length}}
    </li>
    </ul>
</div>
<div *ngIf="isRestored||isExpanded">
    <form [formGroup]="form" (ngSubmit)="addNewTask(form)">
        <div class="input-group">
            <input type="text" class="form-control" formControlName="newTask" placeholder="New Task">
            <span class="input-group-btn">
                <button class="btn btn-secondary">
                    Add
                </button>
        </span>
        </div>
    </form>
    <ul style="overflow:auto; max-height:300px;" class="list-group">
        <li *ngFor="let task of tasks" href="#" class="list-group-item"> 
            <span class="tag tag-default tag-pill pull-xs-right"><a class="pull-right" (click)="deleteTask(task)"><i class="fa fa-times" aria-hidden="true"></i></a></span>

            <h6 class="list-group-item-heading">{{ task.description }}<span class="pull-right"></span></h6>
        </li>
    </ul>
</div>
