<div *ngIf="isRestored||isExpanded" class="col-12">
    <ul style="overflow:auto; max-height:700px;" class="list-group row" *ngIf="!addNew">
        <li *ngFor="let contact of contacts" href="#" class="list-group-item d-block break-word">
            <div class="float-right">
                <small>
                    <i class="root-line-height">{{contact.date|date:"MM/dd/yy"}}</i>
                </small>
                <a style="margin-left:10px" class="float-right" (click)="deleteContact(contact)">
                    <i class="fa fa-times root-line-height" aria-hidden="true"></i>
                </a>
            </div>
            {{contact.name}}
            <br> {{contact.birthday|date:"MM/dd/yy"}}
        </li>
    </ul>
    <div class="row" *ngIf="!addNew">


        <button class="btn btn-secondary" (click)="addNew=true" [style.color]="this.background">
            Add
        </button>
    </div>
    <form [formGroup]="form" *ngIf="addNew" (ngSubmit)="addContact(form)" class="row">
        <input formControlName="newName" class="form-control" placeholder="Name">
        <input formControlName="newPhone" class="form-control" placeholder="Phone">
        <input formControlName="newBirthday" class="form-control" bsDatepicker placeholder="Birthday">
        <textarea formControlName="newNote" class="form-control" placeholder="Note"></textarea>
        <button class="btn btn-secondary" [style.color]="this.background">
            Add
        </button>
    </form>
</div>