<div class="animate">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header card-info card-inverse">
                    <h3 class="card-title">Carousel</h3>
                </div>
                <div class="card-block">
                    <carousel interval="5000">
                        <slide active="slide.active">
                            <img width="100%" src="assets/images/slider0.jpg">
                        </slide>
                        <slide>
                            <img width="100%" src="assets/images/slider1.jpg">
                        </slide>
                        <slide>
                            <img width="100%" src="assets/images/slider2.jpg">
                        </slide>
                        <slide>
                            <img width="100%" src="assets/images/slider3.jpg">
                        </slide>
                        <i class="fa fa-chevron-left left carousel-control"></i>
                        <i class="fa fa-chevron-right right carousel-control"></i>
                    </carousel>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img class="img-fluid" src="assets/images/cards.jpg" width="100%" alt="Image">
                <div class="card-block">
                    <h4 class="card-title">Title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="Javascript:void(0);" class="btn btn-primary">Button</a>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header card-default">
                    <h5 class="card-title">Text alignment
                    </h5>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-4 text-xs-left">
                            <div class="card card-default card-block">
                                <blockquote class="card-blockquote">
                                <h4 class="text-default">Title</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa et, suscipit non nihil voluptates, maxime ad dignissimos vitae.</p>
                                    <a href="Javascript:void(0);" class="btn btn-primary">Go somewhere</a>
                                </blockquote>
                            </div>
                        </div>

                        <div class="col-md-4 text-xs-center">
                            <div class="card card-default card-block">
                                <blockquote class="card-blockquote">
                                <h4 class="text-default">Title</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa et, suscipit non nihil voluptates, maxime ad dignissimos vitae.</p>
                                    <a href="Javascript:void(0);" class="btn btn-primary">Go somewhere</a>
                                </blockquote>
                            </div>
                        </div>

                        <div class="col-md-4 text-xs-right">
                            <div class="card card-default card-block ">
                                <blockquote class="card-blockquote">
                                <h4 class="text-default">Title</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa et, suscipit non nihil voluptates, maxime ad dignissimos vitae.</p>
                                    <a href="Javascript:void(0);" class="btn btn-primary">Go somewhere</a>
                                </blockquote>
                            </div>
                        </div>                              
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="animate">
  <div class="row">
    <div class="col-md-12 col-lg-6 ">
      <div class="card">
        <div class="card-header card-primary card-inverse">
          <span class="card-title">Default Form</span>
        </div>
        <div class="card-block">
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Remember me
              </label>
            </div>
            <button type="submit" class="btn btn-secondary">Submit</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-6 ">
      <div class="card">
        <div class="card-header card-primary card-inverse">
          <span class="card-title">Buttons</span>
        </div>
        <div class="card-block">
          <p>
              <button type="button" class="btn btn-lg btn-secondary">Default</button>
              <button type="button" class="btn btn-lg btn-primary">Primary</button>
              <button type="button" class="btn btn-lg btn-success">Success</button>
              <button type="button" class="btn btn-lg btn-info">Info</button>
              <button type="button" class="btn btn-lg btn-warning">Warning</button>
              <button type="button" class="btn btn-lg btn-danger">Danger</button>
              <button type="button" class="btn btn-lg btn-link">Link</button>
          </p>
          <p>
              <button type="button" class="btn btn-secondary">Default</button>
              <button type="button" class="btn btn-primary">Primary</button>
              <button type="button" class="btn btn-success">Success</button>
              <button type="button" class="btn btn-info">Info</button>
              <button type="button" class="btn btn-warning">Warning</button>
              <button type="button" class="btn btn-danger">Danger</button>
              <button type="button" class="btn btn-link">Link</button>
          </p>
          <p>
              <button type="button" class="btn btn-sm btn-secondary">Default</button>
              <button type="button" class="btn btn-sm btn-primary">Primary</button>
              <button type="button" class="btn btn-sm btn-success">Success</button>
              <button type="button" class="btn btn-sm btn-info">Info</button>
              <button type="button" class="btn btn-sm btn-warning">Warning</button>
              <button type="button" class="btn btn-sm btn-danger">Danger</button>
              <button type="button" class="btn btn-sm btn-link">Link</button>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-6 ">
      <div class="card">
        <div class="card-header card-primary card-inverse">
          <span class="card-title">Jumbotron</span>
        </div>
        <div class="card-block">
          <!-- Main jumbotron for a primary marketing message or call to action -->
              <div class="jumbotron">
                  <h1>Hello, world!</h1>
                  <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
                  <p><a href="javascript:;" class="btn btn-primary btn-lg" role="button">Learn more »</a>
                  </p>
              </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-6 ">
      <div class="card">
        <div class="card-header card-primary card-inverse">
          <span class="card-title">Typography
          </span>
        </div>
        <div class="card-block">
          <h1>Heading 1 <small>Sub-heading</small> </h1> 
          <h2>Heading 2 <small>Sub-heading</small> </h2> 
          <h3>Heading 3 <small>Sub-heading</small> </h3> 
          <h4>Heading 4 <small>Sub-heading</small> </h4>
          <h5>Heading 5 <small>Sub-heading</small> </h5> 
          <h6>Heading 6 <small>Sub-heading</small> </h6>
          <p class="lead">This is an example of lead body copy.</p>
          <p>This is an example of standard paragraph text. This is an example of <a href="#">link anchor text</a> within body copy.</p> 
          <p> <small>This is an example of small, fine print text.</small> </p> 
          <p> <strong>This is an example of strong, bold text.</strong> </p> 
          <p> <em>This is an example of emphasized, italic text.</em> </p> <br> 
        </div>
      </div>
    </div>
  </div>
</div>
<form>
  <fieldset class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
    <small class="text-muted">We'll never share your email with anyone else.</small>
  </fieldset>
  <fieldset class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </fieldset>
  <fieldset class="form-group">
    <label for="exampleSelect1">Example select</label>
    <select class="form-control" id="exampleSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </fieldset>
  <fieldset class="form-group">
    <label for="exampleSelect2">Example multiple select</label>
    <select multiple class="form-control" id="exampleSelect2">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </fieldset>
  <fieldset class="form-group">
    <label for="exampleTextarea">Example textarea</label>
    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
  </fieldset>
  <fieldset class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file" class="form-control-file" id="exampleInputFile">
    <small class="text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
  </fieldset>
  <div class="radio">
    <label>
      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
      Option one is this and that&mdash;be sure to include why it's great
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
      Option two can be something else and selecting it will deselect option one
    </label>
  </div>
  <div class="radio disabled">
    <label>
      <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
      Option three is disabled
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Check me out
    </label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>