<div class="modal fade"  [attr.id]="'selector' + column.index" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
				<h4 class="modal-title" id="myModalLabel">Select Widget</h4>
			</div>
			<div class="modal-body">
				<ul style="overflow:auto; max-height:300px;" class="list-group">
					<li *ngFor="let item of items" href="#" class="list-group-item" [ngClass]="{active:item.isSelected}" (click)="mark(item)">
						<span class="tag tag-default tag-pill pull-xs-right"></span>
						<h6 class="list-group-item-heading">{{ item.data.name }}<span class="pull-right"></span></h6>
					</li>
				</ul>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal" (click)=add()>Add</button>
			</div>
		</div>
	</div>
</div>