<div style="margin:15px">
	<div class="row" *ngIf="!isExpanded">
		<div *ngFor="let col of columns;" class="col-md-4 container">
			<div [dragula]='"widgets"' [dragulaModel]='col.descriptors' style="min-height: 50px;">
				<div *ngFor="let descriptor of col.descriptors;">
					<widget-wrapper [descriptor]="descriptor" 
					(onWindowStateChange)="onWindowStateChanged($event)" 
					(onWidgetRemove)="onWidgetRemoved($event)"
					></widget-wrapper>
				</div>
			</div>
			<div class="ignore-item">
				<a data-toggle="modal" [attr.data-target]="'#selector' + col.index"><span class="fa-stack fa-2x" style="color:rgb(212, 213, 218); display: table;
  margin: 0 auto;">
                	<i class="fa fa-circle fa-stack-2x"></i>
                	<i class="fa fa-plus fa-stack-1x fa-inverse"></i>
            	</span>
            	</a>
				<widget-selector (onWidgetsAdded)="onWidgetsAdded($event)" [column]="col"></widget-selector>
			</div>
		</div>
	</div>

	<div class="row" *ngIf="isExpanded">
		<div class="col-md-12">
			<widget-wrapper [descriptor]="expandedWidgetDescriptor" (onWindowStateChange)="onWindowStateChanged($event)" (onWidgetRemove)="onWidgetRemoved($event)"></widget-wrapper>
		</div>
	</div>
</div>