@import "bootstrap";
@import "custom";

.parent {
  position: relative;
}
.child {
  position: absolute;
  top: 50%;
}
.widget{
  width:100%;
}

.root-line-height{
  line-height: $line-height-base!important;
}

.widget-menu i{
  line-height: $line-height-base;
  padding-right: 3px;
}


.widget-menu i.last{
  padding-right: 0px;
}

.widget-wrapper{
  overflow:inherit;
  margin-top: 7px;
}

.break-word{
  word-wrap: break-word;
}

a,
.clickable{
  cursor: pointer;
}