<div style="margin:15px">
	<div class="row" *ngIf="!isExpanded">
		<div *ngFor="let item of items;trackBy:trackByItem" [ngClass]="item.itemClass">
			<div class="row" *ngIf="item.canHostWidgets()">
				<div class="col-md-12">

					<a data-toggle="modal" [attr.data-target]="'#selector' + item.index" class="fa fa-plus">
					</a>
					<widget-selector (onWidgetsAdded)="onWidgetsAdded($event)" [column]="item"></widget-selector>

					<i class="fa fa-arrow-right pull-right" aria-hidden="true" *ngIf="item.canExpand()" (click)="expand(item)"></i>
					<i class="fa fa-arrow-left pull-right" aria-hidden="true" *ngIf="item.canShrink()" (click)="shrink(item)"></i>
				</div>
			</div>
			<div [dragula]='"widgets"' [dragulaModel]='item.descriptors' [style.min-height]="50" *ngIf="item.canHostWidgets()">
				<div *ngFor="let descriptor of item.descriptors;trackBy:trackByDescriptor">
					<widget-wrapper [descriptor]="descriptor" (onWindowStateChange)="onWindowStateChanged($event)" (onWidgetRemove)="onWidgetRemoved($event)"></widget-wrapper>
				</div>
			</div>

		</div>
	</div>

	<div class="row" *ngIf="isExpanded">
		<div class="col-md-12">

			<widget-wrapper [descriptor]="expandedWidgetDescriptor" (onWindowStateChange)="onWindowStateChanged($event)" (onWidgetRemove)="onWidgetRemoved($event)"></widget-wrapper>
		</div>
	</div>
</div>